<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNCITY</title>
    <link rel="stylesheet" href="./asset/css/base.css">
    <link rel="stylesheet" href="./asset/css/game.css">

</head>

<body>

    <div class="lobby">
        <div class="info"></div>
        <h1 class="texte">En attente d'autre joueur...</h1>
        <img src="./asset/image/loader.gif" alt="Loader" class="loader">
        <div class="player-container"></div>

        <button class="play">QUITTER</button>
    </div>

    <div class="writing">
        <div class="slider-dot"></div>
        <div class="card"><span class='card-text'></span></div>
        <h2 class="text-info">0 / 0 terminée</h2>
        <textarea class="user-response" placeholder="Entrez votre réponse"></textarea>
        <button class="validating-response">Valider</button>
    </div>

    <div class="voting">
        <div class="slider-dot-voting"></div>
        <h2 class="author"></h2>
        <div class="card-voting"><span class='card-text-voting'></span></div>
        <button class="next-button-voting"><img src="./asset/image/arrow.png" alt="Next"></button>
        <button class="previous-button-voting"><img src="./asset/image/arrow.png" style="transform: rotate(180deg);" alt="Next"></button>
        <h2 class="text-info-voting">0 / 0 ont votée</h2>
        <button class="voting-choice">Voter pour cette personne !</button>
    </div>


    <div class="ranking">
        <section>
            <h1 class="winner-text"></h1>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>Joueur</th>
                            <th>voie</th>
                            <th>Rang</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
        <button class="leave">Quitter</button>
    </div>


    <div class="cover-animation"></div>
    <h1 class="text-cover-animation">Vote !</h1>


    <script src="/socket.io/socket.io.js"></script>
    <script src="./asset/js/game.js"></script>
</body>

</html>