<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNCITY</title>
    <link rel="stylesheet" href="./asset/css/base.css">
    <link rel="stylesheet" href="./asset/css/game.css">

</head>

<body>

    <div class="lobby">
        <div class="info"></div>
        <h1 class="texte">En attente d'autre joueur...</h1>
        <img src="./asset/image/loader.gif" alt="Loader" class="loader">
        <div class="player-container"></div>

        <button class="play">QUITTER</button>
    </div>



    <div class="cover-animation"></div>
    <h1 class="text-cover-animation">Vote !</h1>


    <script src="/socket.io/socket.io.js"></script>
    <script src="./asset/js/game.js"></script>
</body>

</html>