<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNCITY</title>
    <link rel="stylesheet" href="./asset/css/base.css">
    <link rel="stylesheet" href="./asset/css/login.css">
</head>

<body>

    <div class="container">
        <h1 class="title">F U N C I T Y</h1>
        <input type="text" class="input-pseudo" placeholder="CHOISISSEZ UN PSEUDO" autofocus>
        <button class="continuer">CONTINUER</button>
        <p class="error"></p>
    </div>

    <script src="./asset/js/login.js"></script>
</body>

</html>