.lobby,
.game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.game {
    flex-direction: row;
    align-items: center;
    display: none;
}

.bomb {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.bomb img {
    width: 30%;
    transform: rotate(270deg);
    transform-origin: 64px 50%;
    transition: all .2s linear;
}

.bomb span.syllabe {
    position: absolute;
    font-size: 40px;
    transform: translate(-50%, -50%);
}

.players {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 30%;
}

.players p {
    position: absolute;
    font-size: 30px;
}

.players .player {
    margin: 40px;
}

.input .input-text {
    background-color: var(--color3opacity);
    text-transform: uppercase;
    position: absolute;
    bottom: 4%;
    width: 60%;
    height: 40px;
    left: 20%;
    font-family: "Jellee Roman";
    font-size: 20px;
    color: white;
    text-align: center;
    border: solid 2px black;
    position: absolute;
    transform: skew(-15deg);
    padding: 10px;
    box-shadow: inset -7px -5px 0 0 rgb(0 0 0 / 35%), inset 0 1px 0 0 hsl(0deg 0% 100% / 20%);
    outline: none;
    transition: all .3s linear;
}

.input .input-text::placeholder {
    color: white;
}

.loader {
    display: block;
    margin: auto;
    border-radius: 30%;
}

.texte {
    position: absolute;
    width: 80%;
    left: 10%;
    color: white;
    text-align: center;
    top: 20%;
}

.player-container {
    position: absolute;
    text-align: center;
}

.player {
    margin: 10px;
    display: inline-block;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    text-align: center;
    border-radius: 20px;
}

.play,
.text-cover-animation,
.voting-choice {
    position: absolute;
    font-family: "Jellee Roman";
    font-size: 20px;
    color: white;
    text-align: center;
    border: solid 2px black;
    position: absolute;
    transform: skew(-15deg);
    padding: 10px;
    box-shadow: inset -7px -5px 0 0 rgb(0 0 0 / 35%), inset 0 1px 0 0 hsl(0deg 0% 100% / 20%);
    outline: none;
    transition: all .3s linear;
}

.play {
    position: fixed;
    background-color: var(--red);
    height: 7%;
    cursor: pointer;
}

.play:hover {
    transform: scale(1.03) skew(-15deg);
    transition: all .3s linear;
}

.play:active {
    box-shadow: inset -4px -2px 0 0 rgb(0 0 0 / 35%), inset 0 1px 0 0 hsl(0deg 0% 100% / 20%);
    transition: all .3s linear;
}

.info {
    position: absolute;
    border-radius: 20px;
    background-color: var(--color2opacity);
    box-shadow: inset -5px -3px 0 0 rgb(0 0 0 / 35%), inset 0 1px 0 0 hsl(0deg 0% 100% / 20%);
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.cover-animation {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color5);
    transform: translate(100%, -100%);
    transition: all .3s ease-in-out;
}

.cover-animation.active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all .3s ease-in-out;
}

.text-cover-animation {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-500%, 350%);
    background-color: var(--color2);
    padding: 20px;
    opacity: 0;
    font-size: 70px;
    transition: all .3s ease-in-out;
}

.text-cover-animation.active {
    opacity: 1;
    transform: translate(-50%, -50%) skew(-15deg);
    transition: all .3s ease-in-out;
}

@media(min-width:1025px) {
    .texte {
        font-size: 40px;
    }
    .player-container {
        width: 70%;
        left: 15%;
        top: 65%;
    }
    .play {
        width: 30%;
        right: 2%;
        bottom: 2%;
    }
    .info {
        width: 25%;
        left: 1%;
        top: 2%;
    }
}

@media (max-width:1024px) {
    .player-container {
        width: 100%;
        left: 0;
        top: 70%;
        height: 150px;
        overflow-y: scroll !important;
    }
    .play {
        width: 80%;
        left: 10%;
        bottom: 2%;
    }
    .info {
        width: 90%;
        top: 2%;
    }
}

@media (max-width:1340px) {
    .texte {
        font-size: 25px !important;
    }
    .text-cover-animation {
        font-size: 40px !important;
    }
}

@media (max-width:375px) {
    .texte {
        font-size: 20px !important;
    }
    .text-cover-animation {
        font-size: 40px !important;
    }
}